<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liji.jkidney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActLaunch"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ActLifeHealthy" />
        <activity android:name=".activity.ActWebShow" />
        <activity android:name=".activity.ActHealthyInfo" />
        <activity android:name=".activity.ActInfoShowDetail" />
        <activity android:name=".activity.ActHealthyKnowledge" />
        <activity android:name=".activity.check.Niaodanbai.ActCheckNiaodanbai" />
        <activity android:name=".activity.user.ActLogin" />
        <activity android:name=".activity.user.ActRegister" />
        <activity android:name=".activity.check.Niaodanbai.ActCheckNiaodanbaiAdd" />
        <activity android:name=".activity.check.Niaodanbai.ActCheckNiaodanbaiUpdate" />
        <activity android:name=".activity.ActSetting"></activity>
    </application>

</manifest>