<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liji.jkidney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".activity.ActLaunch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ActLifeHealthy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ActWebShow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ActHealthyInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ActInfoShowDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.info.ActHealthyKnowledge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.check.ActCheckRecordList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.ActLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.ActRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.check.ActCheckRecordOperation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name=".activity.ActSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.check.ActCheckStatistics"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.tool.ActNoteList" />
        <activity android:name=".activity.tool.ActNoteOperation" />
        <activity android:name=".activity.tool.ActCompute" />
        <activity android:name=".activity.tool.ActComputeJigan" />
        <activity android:name=".activity.tool.ActComputeShenxiaoqiu" />
        <activity android:name=".activity.ActAbout" />
        <activity android:name=".activity.user.account.ActUserInfoUpdate" />
        <activity android:name=".activity.user.ActRegisterEMail" />
        <activity android:name=".activity.user.account.ActEmailVerfy" />
        <activity android:name=".activity.user.account.ActEmailResetPwd" />
        <activity android:name=".activity.user.account.ActPasswordRest" />
        <activity android:name=".activity.user.account.ActPasswordModify" />

        <!-- 360自动更新 -->
        <activity
            android:name="com.qihoo.updatesdk.lib.UpdateTipDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.qihoo.appstore.updatelib.CheckUpdateService"
            android:exported="false" />

        <activity android:name=".activity.user.account.ActPersonalNote" />
        <activity android:name=".activity.post.ActPostAdd" />
        <activity android:name=".activity.post.ActPostDetail" />
        <activity android:name=".activity.post.ActAuthorDetail"></activity>
    </application>

</manifest>